<configuration>

    <property name="TEST_LOG" value="logs/test.log"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${TEST_LOG}</file>
        <append>false</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="Logger" level="debug" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <root level="error">
        <appender-ref ref="FILE"/>
    </root>

</configuration>